 /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;800&family=Poppins:wght@300;400&display=swap'); */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(./Assets//Fonts//Open_Sans/OpenSans-ExtraBold.ttf);
 }
 @font-face {
    font-family: "OpenSans-Medium";
    src: url(./Assets//Fonts//Open_Sans/OpenSans-Medium.ttf);
   }
   @font-face {
    font-family: "OpenSans-Regular";
    src: url(./Assets//Fonts//Open_Sans/OpenSans-Regular.ttf);
   }
   @font-face {
    font-family: "OpenSans-SemiBold";
    src: url(./Assets//Fonts//Open_Sans/OpenSans-SemiBold.ttf);
   }
   @font-face {
    font-family: "Poppins-Light";
    src: url(./Assets//Fonts//Poppins/Poppins-Light.ttf);
   }
   @font-face {
    font-family: "Poppins-Regular";
    src: url(./Assets//Fonts//Poppins/Poppins-Regular.ttf);
   }
   @font-face {
    font-family: "Poppins-SemiBold";
    src: url(./Assets//Fonts//Poppins/Poppins-SemiBold.ttf);
   }
   @font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url(./Assets//Fonts//Poppins/Poppins-SemiBoldItalic.ttf);
   }
   @font-face {
      font-family: "DancingScript-Regular";
      src: url(./Assets//Fonts//Dancing_Script/DancingScript-Regular.ttf);
     }
     @font-face {
      font-family: "DancingScript-SemiBold";
      src: url(./Assets//Fonts//Dancing_Script/DancingScript-SemiBold.ttf);
     }
     @font-face {
      font-family: "Lobster-Regular";
      src: url(./Assets//Fonts//Lobster/Lobster-Regular.ttf);
     }


 
      body {
         background-image: url("./Assets//Images/Back10.jpg");
         background-size: cover;
         background-position: center center;
       }

       

